body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    line-height: 1.5;
}

h1, h2, h3, p { 
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}



h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

h1, h2 {
    text-align: center;
}

h2, h3 {
    color: #2E2F42;
}

.first-section {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    border: none;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}



.button:hover,
.button:focus {
    background-color: #404BBF;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #434455;
    font-style: normal;
}

ul {
    list-style-type: none;
}

.team {
    background-color: #F4F4FD;
}

.team li {
    background-color: #FFFFFF;
}

.team h3,
.team p {
    text-align: center;
}

.footer {
    font-weight: 400;
    color: #F4F4FD;
    background-color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.footer .logo {
    color: #F4F4FD
}

.accent {
    color: #4D5AE5;
}

.page-nav .link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts .link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-nav .link:hover,
.page-nav .link:active,
.page-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
    color: #404BBF;
    }

    .portfolio p,
    .team p,
    .features p {
       font-size: inherit; 
       line-height: inherit;
       font-weight: 400;
       letter-spacing: 0.02em;
    }

    .portfolio h3,
    .team h3,
    .features h3 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.2;
    }

    .header .container {
        display: flex;
        gap: 40px;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 15px;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    nav {
        margin-right: auto;
        align-items: center;
    }

    .page-nav,
    .contacts ul {
        display: flex;
        gap: 40px
    }

    .logo {
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-right: 76px;
    }

    .first-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 188px;
        padding-bottom: 188px;
        gap: 48px;
    }   

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section .container .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc((100%-72px) / 4);
    padding: 120px 15px;
}

.second-section .container .features li {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 264px;
}